#gif-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #gif {
    max-height: 100%;
    max-width: 100%;
  }

  .tabs-demo {
	list-style: none;
   }
   .tabs-demo * {
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	outline: none;
   }
   .tabs-demo :before,
   .tabs-demo :after { content: ''; }
   .tabs-demo li { display: inline-block; }
   .tabs-demo li input[type=radio] {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	position: absolute;
   }
   .tabs-demo li input[type=radio]:checked ~ label {
	box-shadow: 0 0 10px #00dcdc;
	background: #00bebe;
	color: #212121;
	height: 50px;
	font-size: 1.2em;
	cursor: default;
   }
   .tabs-demo li input[type=radio]:checked ~ .section {
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	display: block;
	width: 500px;
	padding: 50px;
	border: 1px solid #00bebe;
	color: #00dcdc;
	letter-spacing: .1em;
	text-indent: 1em;
	z-index: 99;
   }
   .tabs-demo li label {
	border-radius: 5px 5px 0 0;
	display: block;
	width: 120px;
	height: 40px;
	border: 1px solid rgba(0, 190, 190, 0.7);
	border-bottom: 0;
	color: rgba(0, 190, 190, 0.7);
	line-height: 50px;
	text-align: center;
	cursor: pointer;
   }
   .tabs-demo li label:hover {
	height: 50px;
	border-color: #00bebe;
	color: #00bebe;
   }
   .tabs-demo li .section {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	position: absolute;
	top: 51px;
	left: 0;
	width: 1000px;
	padding: 50px;
	border: 1px solid #00bebe;
	background: rgba(0, 190, 190, 0.1);
	color: white;
	letter-spacing: -1em;
	text-indent: 1em;
	z-index: 1;
}}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}
   }
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}
